<link rel="stylesheet" href="/css/sign_in.css">

<main id="main-container">
    <div id="box">
        <h1>
            Sign In
        </h1>
        
        
            <form autocomplete="off" action="/users/create-session" method="POST">
                
                <div>
                    <input  type="email" name="email"  required >
                    <label for="">Email</label>
                </div>
    
                <div>
                    <input  type="password" name="password" required>
                    <label for="">Password</label>
                </div>
                
            
               <div>
                    <button type="submit">Submit</button>
               </div>
            
                
            
            </form>

            <P>
                <a href="/users/auth/google">Google Sign In / Sign Up</a>
            </P>
        
    
    </div>
    
</main>